<form method="post" action="{{ path('app_consultation_confirm_delete', {'id': consultation.id}) }}">
    <button class="btn">Oui supprimer</button>
</form>

<a type="button" class="btn btn-outline-primary" href="{{ path('app_consultation_index') }}">Annuler</a>

