{% extends 'base.html.twig' %}

{% block title %}Confirmer la suppression{% endblock %}

{% block body %}
    <h1>Supprimer consultation</h1>

    <p>Confirmer la suppression ?</p>

    <a type="button" class="btn btn-success" href="/consults/{{ consultation.id }}/confirm-delete">Oui</a>
    <a type="button" class="btn btn-danger" href="/consults">Annuler</a>

{% endblock %}
