{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <h1>Medico</h1>

    <p>
        Cette application permet de gérer les consultations médicales,
        les patients, les médecins et les ordonnances.
    </p>

{% endblock %}